.main-container {
    background-color: var(--secondary-tree-color);
}

.container-info{
    background-color: #efefef;
}

.options-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.options-container div {
    width: 14rem;
}