.day-number {
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    height: 2rem;
    width: 2rem;
}

.selected {
    color: white;
    background-color:var(--primary-color);
}

.day-component{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}