.platillo-component{
    border-radius: 1rem;
    border: 1px solid red;
    height: 300px;
    width: 250px;
}

.platillo-component-info{
    position: relative;
    height: 80%;
}

.platillo-info {
    z-index: 999;
}

.platillo-component-image{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
}

.platillo-component-price {
    height: 10%;
    display: flex;
}